
.footer {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 300px;
  width: 100%;
  color: bisque;
}

@media (max-width: 768px) {
  .footer {
    height: 600px; 
    background-size: contain;  
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .Footer-brand {
    font-size: 1.5rem;
  }
  .col-md-3, .col-md-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

 
@media (min-width: 768px) { 
  .Footer-brand {
    font-size: 2rem;
  }
  .col-md-3, .col-md-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

 
@media (min-width: 992px) { 
  .Footer-brand {
    font-size: 2.5rem;
  }
  .col-md-3, .col-md-4 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }
}
 
.parallax {
    background-image: url('../Images/img1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 450px; 
  }
  @media (max-width: 768px) {
    .parallax {
      height: 1000px;
      background-size: cover;  
    }
  }

